body {
    background-color: #899bc1 !important;
}
.header {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    background-color: #1a1a1a;
}
.bkgcolor {
    background-color: #333333;
}
.mainImg {
    padding-top: 5%;
    padding-bottom: 5%;
}
.welcome {
    color: white;
    font-style: italic;
    padding-left: 8%;
}
.instructions {
    color: white;
    padding-left: 9%;
    text-align: center;
}
.details {
    color: white;
}
.spacing {
    padding-top: 2%;
}
.input {
    padding-top: 2.5%;
    padding-bottom: 1.5%;
}
.luck {
    color: white;
     font-weight: bold;
}
.rock , .scissors , .paper , .spock , .lizard {
    padding: 8% 8% 8% 8%
}
.words {
    padding-top: 15%;
    color: white;
}
.table {
    padding-top: 60%;
    padding-bottom: 40%;
}
table {
    table-layout: fixed;
    min-width: 90%;
}
td , th {
    border: 1px solid red;
}
.wintable {
    text-align: center;
}
.slot {
    text-align: center;
    background-color: #A9A9A9;
    padding-top: 25%;
}
.box {
    padding-top: 7%;
    text-align: center;
}
.secondary {
    padding-top: 30%;
    color: white;
    text-align: center;
}